{% extends 'doctorbase.html'%}
{%block contents%}

 <section id="intro">

    <div class="intro-text">

      <p><h2>Welcome</h2></p>
      <table class="table table-bordered bg-light text-dark">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Login ID</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Locality</th>
      </tr>
    </thead>
    <tbody>
    {% for i in data %}
                                            <tr style="color: Black">
                                                <td>{{forloop.counter}}</td>
                                                <td>{{i.name}}</td>
                                                <td>{{i.loginid}}</td>
                                                <td>{{i.mobile}}</td>
                                                <td>{{i.email}}</td>
                                                <td>{{i.locality}}</td>
                                            </tr>
                                            {% endfor %}

    </tbody>
  </table>
    </div>
  </section>
{%endblock%}