{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>schemes</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/scheme.css' %}" rel="stylesheet">

</head>
<body>
<center>
<div class="header">
  <h1>Maternal Risk Assessment</h1>
  
</div>
<div class="navbar">
    <a href="{%url 'index'%}">home</a> 
</div>
</center>
<br>
<h2>Maternal supportive NGO's:</h2>
<h3>There are several organizations in India that provide support and assistance to pregnant women, especially those who are from low-income or marginalized communities. Here are a few examples:</h3>
<center>
    <div class="container">
        <details>
        <summary>National Health Mission (NHM)</summary>
        <div>
            The NHM was launched by the Government of India in 2013 to improve the availability, accessibility, and quality of healthcare services in underserved areas. The mission has several components, including the provision of financial assistance to states, strengthening of healthcare infrastructure, and implementation of health programs aimed at reducing maternal and infant mortality rates. The NHM is also involved in the training of healthcare professionals, the promotion of community-based healthcare services, and the use of technology for healthcare delivery.</div>
      </details>
      
      <details>
        <summary>Pratham Education Foundation</summary>
        <div>
            Pratham's programs focus on improving the quality of education in India, particularly in low-income communities. They use a range of innovative approaches, including community libraries, remedial education programs, and vocational training. Their flagship program, Read India, has reached millions of children across India and has been recognized as one of the most successful education programs in the country.
        </div>
      </details>
    
      <details>
        <summary>Save the Children</summary>
        <div>
            Save the Children has been working in India for over 80 years and has implemented programs aimed at improving the lives of children and families across the country. Their programs focus on education, health, nutrition, and child protection. Save the Children also works closely with the government to develop policies and programs that support the needs of children and families.
        </div>
      </details>
      
      <details>
        <summary>Child in Need Institute (CINI)</summary>
        <div>
            CINI works in some of the most marginalized communities in India, providing healthcare, education, and protection services to children and women. They use a community-based approach, working closely with local communities to identify and address their needs. CINI's programs include maternal and child health, nutrition, education, child protection, and women's empowerment.
        </div>
      </details>
    
      <details>
        <summary>White Ribbon Alliance for Safe Motherhood</summary>
        <div>
            The White Ribbon Alliance for Safe Motherhood is a global movement that advocates for the right of every woman to have a safe and dignified childbirth. In India, the alliance works closely with government and civil society organizations to improve access to maternal and reproductive health services. The alliance also works to raise awareness about maternal health issues and to mobilize communities to demand better services and support for pregnant women.
        </div>
    </details>
    <details>
        <summary>ARMMAN</summary>
        <div>
            ARMMAN uses mobile technology to provide healthcare information, counseling, and support to pregnant women and new mothers in underserved communities in India. Their mMitra program delivers automated voice messages to pregnant women and new mothers, providing important health information and reminders about healthcare appointments. ARMMAN also provides community-based interventions, including counseling and referrals, to ensure that women and babies receive the care they need.
        </div>
      </details>
    
      <details>
        <summary>HLFPPT</summary>
        <div>
            HLFPPT works in partnership with the government and other stakeholders to provide a range of healthcare services to underserved communities in India. Their programs include family planning, maternal and child health, HIV prevention and care, and other services. HLFPPT's approach emphasizes community participation, and they work closely with local communities to design and implement their programs.
        </div>
      </details>
    
      <details>
        <summary>SaveMom</summary>
        <div>
            SaveMom uses a combination of technology and community-based interventions to identify and assist pregnant women in need of care, particularly in rural and remote areas of India. They provide medical assistance, counseling, and referrals to ensure that women and newborns receive the care they need. SaveMom also works to raise awareness about maternal health issues and to mobilize communities to demand better healthcare services for pregnant women and newborns.
        </div>
      </details>
    
    </div>
    </center>
    <br><br>
    
    
    <div class="footer">
      <center><h3>@copyrights</h3>
      </center>  
    </div>

</body>
</html>