{% extends 'userbase.html'%}
{%block contents%}

 <section id="intro">

    <div class="intro-text">
<br><br><br><br><br><br><br><br><br><br><br><br>
      <p><h2>Predictions</h2></p>
       <form method="POST" action="{%url 'predictionss1'%}" >
        {% csrf_token %}
          <label for="email">email:</label> 
          <input type="text" id="email" name="email"> 
            <br>
            <label for="field1">Age(in years):</label> 
            <input type="text" id="field1" name="field1"> 
            <br>
            <label for="field2">SystolicBP (mmHg):</label>
            <input type="text" id="field2" name="field2">
            <br>
            <label for="field3">DiastolicBP (mmHg):</label>
            <input type="text" id="field3" name="field3">
            <br>
            <label for="field4">Blood Sugar(in mmol/L):</label>
            <input type="text" id="field4" name="field4">
            <br>
            <label for="field5">Body temperature(in fahrenheit):</label>
            <input type="text" id="field5" name="field5">
            <br>
            <label for="field6">heartrate:</label>
            <input type="text" id="field6" name="field6">
            <br>
            <input type="submit" value="Submit">

                   

                        {% if messages %}
                               {% for message in messages %}
                               
                                  <font color='GREEN'> {{ message }}</font>
                               {% endfor %}
                           {% endif %}

                </table>

            </form>  </p><a class="nav-link" href=""></a>
            <a href="{%url 'after' %}" class="btn-get-started scrollto">Precautions</a>


    </div>
  </section>
  {% if dataa2 > 160 %}
    <div class="container">
        <details>
        <summary>
      <p style="text-align: left;">You have HIGH SYSTOLIC BLOOD PRESSURE. Here are some steps you can take:
        <div style="text-align: left;">
        <br>
        1. Consult your healthcare provider: Inform your obstetrician or healthcare provider about your high systolic blood pressure readings. They will monitor your blood pressure closely and guide you on the appropriate steps to take.
        <br>
        2. Follow a healthy diet: Adopt a balanced and nutritious diet that is low in sodium (salt) and rich in fruits, vegetables, whole grains, and lean proteins. Avoid processed foods, excessive caffeine, and sugary beverages.
        <br>
        3. Stay hydrated: Drink an adequate amount of water throughout the day to prevent dehydration, as it can contribute to high blood pressure.
        <br>
        4. Limit sodium intake: Reduce your consumption of salty foods and avoid adding extra salt to your meals. High sodium levels can raise blood pressure levels.
        <br>
        5. Engage in regular physical activity: If your healthcare provider approves, engage in moderate exercise such as walking or swimming, as it can help lower blood pressure. However, always consult your doctor before starting any exercise program during pregnancy.
        <br>
        6. Manage stress: Practice relaxation techniques such as deep breathing exercises, meditation, or prenatal yoga to help reduce stress levels. High stress can contribute to elevated blood pressure.
        <br>
        7. Monitor blood pressure at home: If advised by your healthcare provider, monitor your blood pressure at home using a reliable blood pressure monitor. Keep a record of your readings and report any significant changes to your doctor.
        <br>
        8. Take prescribed medications: If necessary, your healthcare provider may prescribe medications to manage high blood pressure during pregnancy. It is crucial to take the prescribed medications as directed and keep your healthcare provider informed about any side effects or concerns.
        <br>
        9. Attend prenatal appointments: Regularly attend your prenatal appointments to ensure close monitoring of your blood pressure and overall health. Your healthcare provider will assess your condition and make any necessary adjustments to your treatment plan.
        <br>
        10. Rest and sleep: Get adequate rest and sleep to promote overall well-being. Avoid excessive physical exertion and prioritize relaxation.
        </div>
        </p>
            </summary>
        </details>
        </div>


    {% elif dataa2 < 110 %}
    <div class="container">
        <details>
        <summary>
       <p style="text-align: left;">
        You have LOW SYSTOLIC BLOOD PRESSURE (hypotension). Here are some steps you can take:
            <div style="text-align: left;">
        <br>
        1. Consult your healthcare provider: If you're experiencing symptoms of low blood pressure or have concerns about your blood pressure readings, it's essential to consult your healthcare provider. They will evaluate your situation, provide specific guidance, and monitor your condition throughout your pregnancy.
        <br>
        2. Stay hydrated: Dehydration can contribute to low blood pressure, so it's crucial to drink an adequate amount of water and fluids. Aim for at least eight glasses of water per day, or more if recommended by your healthcare provider.
        <br>
        3. Eat small, frequent meals: Consuming smaller meals throughout the day can help stabilize your blood pressure. Avoid long gaps between meals and opt for balanced, nutritious foods that provide a steady release of energy.
        <br>
        4. Avoid sudden movements: Rapid changes in position, such as getting up quickly from a lying or sitting position, can cause a drop in blood pressure. To minimize the risk of dizziness or fainting, try to move slowly and steadily.
        <br>
        5. Elevate your legs: If you experience symptoms of low blood pressure, such as dizziness or lightheadedness, elevating your legs can help improve blood flow to your brain. Lie down and raise your legs above the level of your heart for a short period.
        <br>
        6. Wear compression stockings: Compression stockings can help improve circulation by preventing blood from pooling in your legs. Your healthcare provider may recommend wearing them to help manage low blood pressure during pregnancy.
        <br>
        7. Avoid hot environments: Heat can cause blood vessels to dilate, which may further lower your blood pressure. Avoid hot baths, saunas, or extended exposure to hot weather.
        <br>
        8. Get up slowly: When getting out of bed or standing up from a seated position, do so gradually to give your body time to adjust. This helps prevent sudden drops in blood pressure.
        <br>
        9. Regular exercise: Engaging in gentle exercises, as approved by your healthcare provider, can improve circulation and help regulate blood pressure. Activities such as walking or swimming are generally safe for most pregnant women.
        <br>
        10. Rest and prioritize self-care: Fatigue and overexertion can exacerbate low blood pressure. Make sure to get adequate rest, listen to your body, and avoid excessive physical activity.
    </div>
        </p>
            </summary>
    </details>
    </div>

    {%else%}

    {%endif%}


    {% if dataa3 > 110 %}
    <div class="container">
        <details>
        <summary>
       <p style="text-align: left;">
        You have HIGH DIASTOLIC BLOOD PRESSURE (hypertension). Here are some steps you can take:
    <div style="text-align: left;">
          1. Consult your healthcare provider: If you're experiencing high diastolic blood pressure or have concerns about your blood pressure readings, it's crucial to consult your healthcare provider. They will evaluate your situation, provide specific guidance, and monitor your condition throughout your pregnancy.<br/>
2. Monitor your blood pressure: Keep track of your blood pressure regularly as advised by your healthcare provider. This may involve self-monitoring at home using a blood pressure monitor or frequent visits to your healthcare provider for check-ups.<br/>
3. Follow a healthy diet: Adopt a well-balanced diet that is low in sodium (salt), rich in fruits and vegetables, and includes whole grains, lean proteins, and healthy fats. Avoid processed foods, fast food, and excessive consumption of sugary or high-fat foods.<br/>
4. Limit your sodium intake: Reduce your consumption of salty foods and avoid adding extra salt to your meals. High sodium intake can contribute to elevated blood pressure.<br/>
5. Engage in regular physical activity: With your healthcare provider's approval, engage in regular low-impact exercises such as walking, swimming, or prenatal yoga. Regular exercise can help maintain a healthy weight, improve circulation, and manage blood pressure.<br/>
6. Manage stress levels: High stress levels can contribute to increased blood pressure. Practice stress management techniques such as deep breathing exercises, meditation, gentle stretching, or engaging in activities that help you relax and unwind.<br/>
7. Get sufficient rest: Aim for an adequate amount of sleep and rest to support overall health and well-being. Avoid excessive physical exertion and prioritize relaxation.<br/>
8. Avoid smoking and alcohol: Smoking and alcohol consumption can have adverse effects on blood pressure and overall pregnancy health. It's best to quit smoking and avoid alcohol completely during pregnancy.<br/>
9. Attend prenatal appointments: Regularly attend prenatal check-ups to monitor your blood pressure, assess fetal development, and ensure that you and your baby are healthy. Follow your healthcare provider's recommendations for prenatal care.<br/>
10. Consider medication if necessary: In some cases, lifestyle modifications may not be enough to control high blood pressure during pregnancy. If your healthcare provider determines that medication is necessary, they may prescribe safe and appropriate medications to help manage your blood pressure while considering the well-being of both you and your baby.<br/>
    </div>
        </p>
            </summary>
    </details>
    </div>
    {% elif dataa3 < 65 %}
    <div class="container">
        <details>
        <summary>
       <p style="text-align: left;">
        You have LOW DIASTOLIC BLOOD PRESSURE (hypotension). Here are some steps you can take:
    <div style="text-align: left;">
            1. Consult your healthcare provider: If you're experiencing symptoms of low blood pressure or have concerns about your blood pressure readings, it's essential to consult your healthcare provider. They will evaluate your situation, provide specific guidance, and monitor your condition throughout your pregnancy.<br/>
2. Stay hydrated: Dehydration can contribute to low blood pressure, so it's crucial to drink an adequate amount of water and fluids. Aim for at least eight glasses of water per day, or more if recommended by your healthcare provider.<br/>
3. Eat small, frequent meals: Consuming smaller meals throughout the day can help stabilize your blood pressure. Avoid long gaps between meals and opt for balanced, nutritious foods that provide a steady release of energy.<br/>
4. Avoid sudden movements: Rapid changes in position, such as getting up quickly from a lying or sitting position, can cause a drop in blood pressure. To minimize the risk of dizziness or fainting, try to move slowly and steadily.<br/>
5. Elevate your legs: If you experience symptoms of low blood pressure, such as dizziness or lightheadedness, elevating your legs can help improve blood flow to your brain. Lie down and raise your legs above the level of your heart for a short period.<br/>
6. Wear compression stockings: Compression stockings can help improve circulation by preventing blood from pooling in your legs. Your healthcare provider may recommend wearing them to help manage low blood pressure during pregnancy.<br/>
7. Avoid hot environments: Heat can cause blood vessels to dilate, which may further lower your blood pressure. Avoid hot baths, saunas, or extended exposure to hot weather.<br/>
8. Get up slowly: When getting out of bed or standing up from a seated position, do so gradually to give your body time to adjust. This helps prevent sudden drops in blood pressure.<br/>
9. Regular exercise: Engaging in gentle exercises, as approved by your healthcare provider, can improve circulation and help regulate blood pressure. Activities such as walking or swimming are generally safe for most pregnant women.<br/>
10. Rest and prioritize self-care: Fatigue and overexertion can exacerbate low blood pressure. Make sure to get adequate rest, listen to your body, and avoid excessive physical activity.<br/>
    </div>
        </p>
            </summary>
    </details>
    </div>
    {%else%}

    {%endif%}


    {% if dataa5 > 100%}

    <div class="container">
        <details>
        <summary>
       <p style="text-align: left;">
        You have HIGH BODY TEMPERATURE. Here are some steps you can take:
    <div style="text-align: left;">
  1. Stay hydrated: Drink plenty of water throughout the day to stay hydrated. Dehydration can contribute to an elevated body temperature. Aim to drink at least 8-10 glasses of water daily, or more if recommended by your healthcare provider.<br/>
2. Dress appropriately: Wear loose-fitting, lightweight, and breathable clothing to help regulate your body temperature. Opt for natural fabrics such as cotton, which allows for better airflow and helps in heat dissipation.<br/>
3. Use cooling measures: Apply cool compresses to your forehead, neck, or wrists to help lower your body temperature. You can use a damp cloth or a cooling gel pack. Avoid using ice directly on the skin.<br/>
4. Stay in cool environments: Seek out air-conditioned or well-ventilated spaces to stay cool. If you don't have access to air conditioning, use fans or open windows to improve airflow. Avoid being in direct sunlight or hot environments.<br/>
5. Take cool showers or baths: A refreshing cool shower or bath can help bring down your body temperature. Avoid using hot water, and make sure the water is at a comfortable temperature.<br/>
6. Avoid excessive physical activity: Reduce or modify physical activities that can cause your body temperature to rise, especially during hot weather. Take breaks, rest when needed, and listen to your body.<br/>
7. Elevate your feet: If you experience swelling along with high body temperature, elevate your feet to help reduce swelling and improve blood circulation.<br/>
8. Monitor for signs of heat-related illness: Be aware of the signs and symptoms of heat exhaustion and heatstroke, such as dizziness, nausea, rapid heartbeat, headache, or confusion. If you experience severe symptoms or are unable to cool down, seek medical attention immediately.<br/>
    </div>
        </p>
            </summary>
    </details>
    </div>

    {% elif dataa5 < 95 %}

    <div class="container">
        <details>
        <summary>
       <p style="text-align: left;">
        You have LOW BODY TEMPERATURE. Here are some steps you can take:
    <div style="text-align: left;">
 1. Monitor your body temperature: Keep track of your body temperature regularly to identify any significant changes or persistent low readings. Use a reliable thermometer to measure your body temperature accurately.<br/>
2. Keep warm: Dress in layers and wear warm clothing to maintain a comfortable body temperature. Use blankets or additional layers while sleeping to stay warm throughout the night. Avoid exposure to cold environments or drafts.<br/>
3. Stay hydrated: Drink an adequate amount of fluids, such as water and warm beverages, to support your body's temperature regulation. Dehydration can further contribute to low body temperature, so ensure you are properly hydrated.<br/>
4. Eat a balanced diet: Consume a nutritious and well-balanced diet that provides adequate energy to your body. Include foods that generate heat, such as warm soups and herbal teas. Consult with a healthcare provider or nutritionist to ensure you are meeting your nutritional needs during pregnancy.<br/>
5. Keep active: Engage in light physical activities that promote blood circulation and keep your body warm. Activities such as walking or prenatal exercises can help generate body heat and maintain an appropriate body temperature. However, always consult with your healthcare provider before starting or modifying any exercise routine during pregnancy.<br/>
6. Maintain a comfortable environment: Keep your living space warm and cozy. Adjust the thermostat, use heating devices if necessary, and ensure proper insulation to prevent heat loss. Use warm blankets, wear warm socks, and consider using a heating pad or warm water bottle (properly wrapped) for added warmth if needed.<br/>
7. Avoid extreme temperatures: Minimize exposure to extremely cold or frigid temperatures. If you need to go outside during cold weather, dress appropriately in layers and cover yourself adequately to protect against low temperatures and wind chill.<br/>
 </div>
        </p>
            </summary>
    </details>
    </div>

    {%else%}
     <br>
    {%endif%}



        <br><br>
        <h4>Remember, it is crucial to consult your healthcare provider for personalized advice and guidance tailored to your specific situation. They will monitor your condition closely and provide the most appropriate care for you and your baby.</h4>
    <a href='/'>go back to home page</a>

    </center>


<!-- "{%url 'after' %}" -->
 </section>


{%endblock%}